[Unit]
Description=Overnight Strategy - trading runtime
Wants=traderuntime.service
After=overnight-recorder.target

[Install]
WantedBy=multi-user.target
